<!doctype html>
<html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="register1.css") }}"/>
    </head>
    <body>
        <!doctype html>
<html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" href="register.css" type="text/css"/>
    </head>
    <body>
        <div id="contenedor">
            <h1 id="header"><a href="#">Registro</a></h1>
            <div id="caja">
                <form method="POST">
                    <label>Username</label>
                    <input type="text" name="username" class="datos"/>
                    <label>Password</label>
                    <input type="password" name="password" class="datos"/>
                    <input type="submit" value="Registrarse"/>
                </form>
            </div>
            <footer>Jesus Figuera</footer>
        </div>
    </body>
</html>
    </body>
</html>